body {
  background-color: #72ace624;
  font-family: Arial;
  line-height: 22px;
}

.post {
  background-color: #fff;
}

.article__item {
  background-color: #fff;
  padding: 20px;
  list-style-type: none;
  margin-bottom: 3px;
}

.posts-container {
  display: flex;
  justify-content: space-between;
}

.article__container {
  display: flex;
  justify-content: space-between;
}

.article__row {
  width: 100%;
}

.article__item-title {
  color: blue;
  font-size: 22px;
  margin-bottom: 20px;
}

.post-author {
  color: grey;
  font-size: 14px;
  padding-top: 20px;
}

.article__item-author {
  color: grey;
  font-size: 14px;
  padding-top: 20px;
}

.post-author_tel {
  padding-top: 0px;
}

.search-form__row {
  display: flex;
  justify-content: center;
}

.search-form__input{
  width: 40%;
}

.container-fluid {
  padding-top: 20px;
}
